<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var date = new Date();
            date.setDate(date.getDate());
            $(".date-picker").datepicker(
             $.datepicker.regional["sv"]
            );

        })
    </script>
</head>
<body>
    <header>
        @Html.Partial("_Navbar")
    </header>

    <main class="container-fluid">
        @RenderBody()
    </main>

</body>
</html>
